<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Thank you for shopping at Jungle. </h1>

  <header class="page-header">
    <h1>Your Order:</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0%>
        <% @order.line_items.each do |item| %>
        <%= render 'item', item: item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th> $
            <%= @order_total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>



  <p>Thank you for shopping with us and have a great day!</p>
</body>
</html>